@media (max-width: 575px) {
    .subtotal::after{
        width: 0;
    }

    .cartContent{
        display: block !important;
    }
    .cartImg{
        display: block !important;
        width: 30% !important;
      }
      .createAccoBtn{
        display: block;
    }
    .mayAlso, .likings{
      display: unset !important;
    }
}

@media (min-width:576px) {

}

@media (min-width:768px) {
    .subtotal::after{
        position: absolute;
        content: '';
        box-sizing: border-box;
        width: 0.5px;
        height: 100%;
        top: 0;
        background-color: black;
      }
      .cartImg{
        max-width: 30% !important;
      }
      .mayAlso, .likings {
        display: flex !important;
      }

}

@media (min-width:992px) {

}

@media (min-width:1200px) {
}

@media (min-width:1400px) {}