@media (max-width: 575px) /*xs -- */ {
    .bannerImage {
        display: none;
    }

    .bannerTitle {
        font-size: 40px;
    }

    .about span {
        font-size: 10px;
        padding-right: 5px;
    }

    .about i {
        font-size: 15px;
    }

    section.about {
        margin: 10px;
        border-radius: 1.5rem;
    }

    section.contact {
        border-radius: 2rem;
    }

    header {
        margin: 5% 5% 0;
        transition: 1s cubic-bezier(1,-1.24, 0, 1.38);
    }

    @keyframes appearAbout {
        0% {
            opacity: 0.5;
            border-radius: 1rem;
            margin: 0;
        }

        100% {
            opacity: 1;
            margin: 10px;
            border-radius: 1.5rem;
        }
    }
}

@media (min-width:576px)/*sm ++ */ {
    .bannerImage {
        display: none;
    }

    .bannerTitle {
        font-size: 50px;
    }

    .about span {
        font-size: 13px;
        padding-right: 5px;
    }

    .about i {
        font-size: 15px;
    }

    section.about {
        margin: 10px;
        border-radius: 2rem;
    }

    @keyframes appearAbout {
        0% {
            opacity: 0.5;
            border-radius: 1.5rem;
            margin: 0;
        }

        100% {
            opacity: 1;
            margin: 10px;
            border-radius: 2rem;
        }
    }
}

@media (min-width:768px)/*md ++ */ {
    .about span {
        font-size: 20px;
        padding-right: 5px;
    }

    .edu-head {
        justify-content: center;
    }

    .about i {
        font-size: 20px;
    }

    .bannerTitle {
        font-size: 70px;
    }

    .achieve-img img {
        width: 50%;
    }


    @keyframes appearContact {
        0% {
            opacity: 0;
            border-radius: 0.5rem !important;
        }

        100% {
            opacity: 1;
            border-radius: 2rem;
            margin: 50px;
        }
    }

}

@media (min-width:992px)/*lg ++ */ {
    .bannerImage {
        display: unset;
        width: 25%;
    }
    .rotateLg {
        transform: rotate(90deg);
    }
    .rotateLg:active{
        transform: scale(1.75) !important;
    }
}

@media (min-width:1200px)/*xl ++ */ {
    .bannerImage {
        width: 20%;
    }
    
}