/* .text-primary {
color: #ff9700 !important;
} */

body {
  font-family: 'Outfit' !important;
  scroll-behavior: smooth !important;
}

.bg-white {
  background-color: #f2f8fc !important;
}

html {
  -moz-filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
  -webkit-filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
  filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
}

.logoText {
  font-weight: 900 !important;
}

header {
  z-index: 99;
  background: #0000008a;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6.7px);
}

ul li .nav-link {

  position: relative;

}

ul li .nav-link::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: 0.5s;
}

ul li .nav-link:hover::before {
  width: 100%;
  left: 0;
}

::-webkit-scrollbar {
  width: 3px;
  -webkit-transition: 1s;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 43px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

a {
  display: inline-block !important;
}



#preloader {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #000000;
  transition: 2s all !important;
}

/* From Uiverse.io by G4b413l */
.preloader {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.circle {
  position: absolute;
  height: 100%;
  width: 30%;
}

.circle:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.circle:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.circle:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.circle:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.circle:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.circle:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.circle:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}


.goToTop {
  animation: GoToTopAnim;
  animation-timeline: scroll(y);
  position: fixed;
  right: 12px;
  color: transparent;
  font-size: 1.25rem;
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
  z-index: 999;
}

@keyframes GoToTopAnim {
  0% {
    opacity: 0;
    bottom: -50px;
  }

  10% {
    opacity: 1;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    bottom: 10px;
  }
}

.fontBorder {
  color: transparent !important;
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
}

section:not(.noAnim) {
  animation: appear cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-delay: 1s;
  animation-range: entry -10% cover 50%;
}

section.about {
  animation: appearAbout linear;
  animation-timeline: view();
  animation-range: entry -10% exit 0%;
  border-radius: 2rem;
  margin: 30px;

}

section.contact {
  animation: appearContact linear;
  animation-timeline: view();
  animation-range: entry -10% exit -10%;
}

.edu-content,
.achieve-img,
.project-img,
.blog-img {
  animation: appearToTop cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -10% cover 180%;
}

.edu-content {
  animation: appearToTopEdu cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -10% cover 100%;
}

.achieve-img {
  animation-range: entry -10% exit 600% !important;

}

.progress:hover .progress-bar {
  transform: translateX(0%);
}

.progress {
  animation: appearProgress cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -50% cover 70%;
  transition: 0.5s;
}

@keyframes appearToTop {
  0% {
    transform: translateY(800px);
  }

  100% {
    transform: translateY(-50%);
  }

}

@keyframes appearToTopEdu {
  0% {
    transform: translateY(800px);
    -webkit-box-shadow: 0px 22px 161px -100px rgb(110, 196, 213);
    -moz-box-shadow: 0px 22px 161px -100px rgb(110, 196, 213);
    box-shadow: 0px 22px 161px -100px rgb(110, 196, 213);
  }

  100% {
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 15px 161px -60px rgb(96, 106, 201);
    -moz-box-shadow: 0px 15px 161px -60px rgb(96, 106, 201);
    box-shadow: 0px 15px 161px -60px rgb(96, 106, 201);
  }

}

@keyframes appearProgress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes appearAbout {
  0% {
    opacity: 0;
    border-radius: 0.5rem;
    margin: 0;
  }

  100% {
    opacity: 1;
    margin: 30px;
    border-radius: 2rem;
  }
}


@keyframes appear {
  0% {
    scale: 0.6;
  }

  100% {
    scale: 1;
  }
}

/* banner start */
.bannerTitle {
  /* font-size: 60px; */
  font-weight: 700;
  color: transparent;
  /* padding: 100px 0 50px; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d6efd;

}

.bannerTitle .lead {
  font-size: 0.45em;
  -webkit-text-stroke-width: 0;
}

.icons {
  animation: comeInNegetive;
  animation-duration: 3.5s;
}

.icons .subIcons {
  animation-name: floatIconBanner;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  top: 0;
  /* opacity: 0.5; */
}

.bannerAnim {
  animation-name: comeIn;
  animation-duration: 2s;
}

.bannerAnimP {
  /* animation-delay: 2s; */
  animation-name: comeInP;
  animation-duration: 2s;

}

.bannerAnimImg {
  /* animation-delay: 2s; */
  animation-name: comeInImg;
  animation-duration: 2s;

}

@keyframes comeIn {
  0% {
    transform: translateY(100%);
    filter: blur(15px);

  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes comeInP {
  0% {
    transform: translateY(100%);
    filter: blur(15px);
  }

  50% {
    transform: translateY(100%);
    filter: blur(15px);

  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes comeInImg {
  0% {
    /* transform: translateY(100%); */
    filter: blur(15px);
  }

  50% {
    /* transform: translateY(-10%); */
    filter: blur(3px);

  }

  100% {
    /* transform: translateY(0); */
    filter: blur(0);
  }
}

@keyframes comeInNegetive {
  0% {
    transform: translateY(-150%);
    filter: blur(10px);
  }

  20% {
    transform: translateY(-150%);
    filter: blur(10px);
  }

  50% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes floatIconBanner {
  0% {
    transform: translate(0, 0px);
  }

  25% {
    transform: translate(4px, 10px);
  }

  50% {
    transform: translate(6px, 12px);
  }

  75% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.Button {
  font-weight: 700;
  /* border: 0 solid; */
  border-radius: 99rem;
  color: #000;
  background-color: white;
  border-width: 2px;
  padding: 0.8rem 3rem;
  transition: 0.5s cubic-bezier(0.04, 0.5, 0, 1.01);
}

.Button:hover {
  /* background-color: #fff; */
  color: #000 !important;
  padding: 0.8rem 3.5rem;
}

.Button.contact:hover {
  /* background-color: #fff; */
  color: #000 !important;
  padding: 0.8rem 4rem;
}

.bannerImage {
  right: 0;
  top: 0;
}

.bannerImage img {
  background: #2125294b;
  position: relative;
}

.cir {
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  border-radius: 50%;
  animation: circular 2s infinite;
  width: 100%;
  height: 100%;
}

@keyframes circular {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }

}

/* banner end */
/* about start */
.about {
  position: relative;
}

.typoText {
  position: absolute;
  right: -120px;
  top: 250px;
  font-size: 120px;
  font-weight: 700;
  transform: rotate(90deg);
  opacity: 0.2;
  color: black !important;
}

/* .about p.heading:after {
background-color: #000;
} */

p.heading,
p.about.heading,
p.contact.heading {
  position: relative;
}

p.about.heading:after,
p.contact.heading:after {
  background-color: black !important;
}

p.heading:after,
p.about.heading:after,
p.contact.heading:after {
  position: absolute;
  content: '';
  box-sizing: border-box;

  animation: afterLine linear;
  animation-timeline: view();
  animation-range: entry -30% exit 20%;

  background-color: #fff;
  height: 1px;
  width: 100%;
  bottom: -50px;
  left: -10px;
}

@keyframes afterLine {
  from {
    bottom: -50px;

  }

  to {
    bottom: 0;

  }
}

.about span.info {
  padding-right: 50px;
}

.about i {
  padding-right: 10px;
}

/* about end */
/* education start */


.edu-content {
  margin: 20px 0 20px 12.5px;
  justify-content: center;
}

.achieve-img img {
  margin: 50px auto;
}

/* education end */
/* project start */
.project-img img,
.achieve-img img,
.blog-img img {
  transition: 1s cubic-bezier(0.04, 0.89, 0, 1.01);
}

.project-img img:hover,
.achieve-img img:hover,
.blog-img img:hover {
  transform: scale(1.05);
}

.blurry {
  animation: blurry;
  animation-timeline: view();
  animation-range: entry -10% cover 50%;
}

@keyframes blurry {
  from {
    filter: blur(20px);
  }

  to {
    filter: blur(0);
  }
}

.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.cardHead {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.ProCard {
  flex: 1;
  height: 100%;
  transition: all 800ms cubic-bezier(.42, .89, .03, 1.21);
  cursor: pointer;
}

.ProCard>img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProCard:nth-child(odd) {
  translate: 0 -20px;
}

.ProCard:nth-child(even) {
  translate: 0 20px;
}

.cardHead:hover .ProCard:not(:hover) {
  filter: grayscale(100%);
}

.ProCard:hover {
  flex: 4;
}

/* project end */





/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.ribbon {
  --f: .5em;
  /* control the folded part*/
  --r: .8em;
  /* control the ribbon shape */

  position: absolute;
  top: 20px;
  left: calc(-0.115*var(--f));
  padding-inline: .25em;
  line-height: 1.8;
  background: #ff0000;
  border-bottom: var(--f) solid #0005;
  border-right: var(--r) solid #0000;
  clip-path:
    polygon(0 0, 0 calc(100% - var(--f)), var(--f) 100%,
      var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)),
      calc(100% - var(--r)) calc(50% - var(--f)/2), 100% 0);
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbonNegetive {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.ribbonNegetive {
  --f: .5em;
  /* control the folded part*/
  --r: .8em;
  /* control the ribbon shape */

  position: absolute;
  bottom: 20px;
  right: calc(-0.17*var(--f));
  padding-inline: .25em;
  line-height: 1.8;
  background: #ff0000;
  border-top: var(--f) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path:
    polygon(0 100%, 100% 100%, 100% var(--f), calc(100% - var(--f)) 0,
      calc(100% - var(--f)) var(--f), 0 var(--f),
      var(--r) calc(50% + var(--f)/2));
}





.flowRibbon {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    left: -220px;
  }
}

@keyframes scrollRight {
  to {
    right: -220px;
  }
}

.flowItemLeft,
.flowItemRight {
  width: 200px;
  height: 100px;
  /* background-color: #ffffff; */
  font-size: 3.5rem;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.flowItemLeft {
  left: max(calc(150px * 7), 100%);
  animation-name: scrollLeft;
}

.flowItemRight {
  right: max(calc(150px * 7), calc(100% + 150px));
  animation-name: scrollRight;
}